/*header*/

a.app-header__logo {
    background-color: #ff9900 ;
}header.app-header { 
    background-color: #ff9900;
}img.user-img {
    width: 20px;
    height: 20px;
}img.notifications {
    height: 20px;
    width: 20px;

}

img.webkodz-logo {
    width: 140px;
    position: relative;
    top: -5px;
}

b.employee {
    color: blue;
    font-size: 15px;
    
    position: relative;
    top: -14px;
}
span.add-employee {
    position: relative;
    top: -14px;
    font-size: 15px;
}
img.plus-icon {
   
    position: relative;
    top: -11px;
    float: right;
}
input.app-search__input {
    position: relative;
    top: -11px;
    width: 100%;
}




img.edit-icon {
    width: 20px;
    height: 20px;
}
img.delete-icon {
    width: 20px;
    height: 20px;
}
img.clicking-icon {
    width: 20px;
    height: 20px;
}
i.fa.fa-search {
    position: relative;
    top: -14px;
    margin-right: 17px;
}
.tile-body {
    overflow-y: scroll;
    height:705px;
    
}

.tile {
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
/* scroll */
::-webkit-scrollbar {
    width: 3px;
  }
  
 
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* pagesbutton */
  

.btn {
  border: none;
  outline: none;
  
  background-color: #f1f1f1;
  cursor: pointer;
 
}
b.hr-login {
    font-size: 17px;
}

.active, .btn:hover {
  background-color:#3498DB;
  color: white;
}
button.btn.btn-primary.dropdown-toggle {
    color: rgb(92, 91, 91);
}
button.btn.btn-primary.dropdown-toggle {
   
    background-color: #fff;
}
a.drop-list {
    color:  rgb(202, 196, 196);
}
button.btn.btn-primary.dropdown-toggle {
    border: 1px solid rgb(202, 196, 196);
}
span.show {
    padding-left: 10px;
}
/*footer*/
.col-md-12.footer {
    padding: 11px;
    text-align: center;
    margin-left: 84px;
}
.copyright {
    background-color: #222d32;
    padding-top: 0px;
}
b.copy-text {
    color: #fff;
    font-size: 15px;
}
span.emp {
    margin-left: 15px;
}
.mydiv{
    background-color: #222d32;;
    position:fixed;
    width:100%;
    top:890px;
   padding:14px;
    }
    
    h1{
    text-align:center;
    font-size: 15px;
    color:#fff;
    }
    .app-sidebar__toggle {
        padding: 0 15px;
        font-family: fontAwesome;
         color: #fff; 
        line-height: 2.4;
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        display: none;
    }

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .app-sidebar__toggle {
        padding: 0 15px;
        font-family: fontAwesome;
         color: #fff; 
        line-height: 2.4;
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        display: block;
    }
    .app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
        color: #fff;
        background-color: #ff9900 ;
        text-decoration: none;
    }


  }